*
{
	margin: 0;
	padding: 0;
}

 .left-div{ 
     position: fixed;
     background-color: rgb(189, 93, 56);
     width: 20%;
     height: 100%;
}

.avatar{
    vertical-align: middle;
    position: fixed;
    margin-top: 7vw;
    margin-left: 6vw;
    width: 16%;
    border-radius: 50%;
    border-color:rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1vw;
}
.nav{
    position: fixed;
    margin-top: 27vw;
    margin-left: 10vw;
    display: table;
}
.nav a{
    color: lightgrey;
    display: flex;
    font-size: 1.3vw;
    justify-content: center;
    text-decoration: none;
    font-family:sans-serif;
    font-weight: bold;
    line-height: 3vw;
}
a:hover{
    color: azure;
}
.subheading{
    font-size: 1.4vw;
    position: absolute;
    margin-left: 25%;  
    margin-top: 11%;
    color: grey;
    font-family: sans-serif;
    font-weight: 900;
}
.it{
    font-size: 1.6vw;
    position: absolute;
    margin-left: 25%;  
    margin-top: 23%;
    color: darkgrey;
    font-family: sans-serif;
    font-weight: 500;
}
h1{
    font-size: 3vw;
    transform: scale(1,2.5);
    position: absolute;
    margin-left: 25%;  
    margin-top: 15%;
    color: rgb(52, 58, 64);
    font-family: sans-serif;
    font-weight: 900;
}
.social-icons{
    display: inline-flex;
    list-style-type: none;
    position: absolute;
    margin-top: 36%;
    margin-left: 25%;
    overflow: hidden;
    width: 75%;
    height: 12vw;
    border-bottom-color: darkgray;
    border-bottom-style: solid;
    border-bottom-width:  0.1vw;
}
 .social-icons img{
     width: 5vw;
     height: 5vw;
     padding: 1vw;
}
li a:hover{
  opacity: 0.6;
}
.about{
    position: absolute;
    top: 50vw;
    left: 25%;
    width: 75%;
    height: 25vw;
    border-bottom-color: darkgray;
    border-bottom-style: solid;
    border-bottom-width:  0.1vw;
}
h2{
    font-size: 4vw;
    transform: scale(1,1.5);
    color: rgb(200, 120, 76);
    font-family: sans-serif;
    font-weight: 900;
    padding-bottom: 10px;
}
p{
    padding-top: 5vw;
   font-family:Helvetica, sans-serif;
    line-height: 2vw;
    font-size: 1.3vw;
    color: grey;
}
.projects{
    position: absolute;
    top: 78vw;
    left: 25%;
    width: 75%;
    height: 23vw;
    border-bottom-color: darkgray;
    border-bottom-style: solid;
    border-bottom-width:  0.1vw;
}
.projects li{
    padding-top: 1vw;
    margin-left: 3vw;
   font-family:Helvetica, sans-serif;
    font-size: 1.3vw;
    color: gray;
}
.projects li a{
    color: gray;
    text-decoration: none;
}
.contact{
    position: absolute;
    top:104vw;
    left: 25%;
    width: 75%;
    height: 15vw;
}
.footer{
    position: absolute;
    top:119vw;
    left: 20%;
    display: block;
    width: 80%;
    height: 5vw;
    background-color: rgb(245, 245, 245);
    border-top-color: darkgray;
    border-top-style: solid;
    border-top-width:  0.1vw;
}
.footer p{
    margin-left: 3vw;
     padding-top: 2vw;
    text-align: center;
    font-family: proxima nova;
}
